/*RESET**********************************************************************/
html {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/****************************************************************************/
/*HEADER*********************************************************************/
/***********test combo**********************/
/*ok*/
.wrapperCombo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
 
}

/*ok*/
.wrapperCombo .search-input{
  position: relative;
  display: flex;
align-items: center;
justify-content: space-between;
  width: 180px;
  height: 60px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  margin: 0 20px 0 0;
  
}
/*ok*/
.selectInput::placeholder {

  color: white;
}
/*ok*/
input:focus::placeholder {
  color: transparent;
}
/*ok*/
.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
}

/*.search-input.active input{
  border-radius: 5px 5px 0 0;
}*/

/*.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}*/

/*.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}*/

/*.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  color: black;
  border-radius: 3px;
}*/

/*.search-input.active .autocom-box li{
  display: block;
}*/
/*.autocom-box li:hover{
  background: #c51d1d;
}*/

/*icon arrow*/
.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #fff;
  
}
.fa-angle-down.rotated {
  transform : rotate(180deg);
}
/*test*//********************************************************/
.listing {
  
  display: flex;
 flex-direction: row; 
  width: 600px;
  background-color: rgb(249, 135, 135);
}
.autocomplete { 
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 20px;
  background-color: rgb(145, 70, 202);
}
.liList {
  list-style: none;
  width: 100%;
  margin-left: -20px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  border: 1px solid;
  color: aqua;
}
/**************************************************************************/
/*HEADER*******************************************************************/

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.header {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: auto; 
}

/***************************************************************************/
/*SEARCH********************************************************************/

.containerSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
  margin: 0 auto;
}
.searchRecipes {
  position: relative;
  width: 100%;
  height: 55px;
}

#search {
  display: flex;
  align-items: center;
  width: 98%;
  height: 69px;
}

.input {
  background-color: #f5ecec;
  font-size: 1.2rem;
  width: 100%;
  height: 55px;
  border: none;
  padding: 0 0 0 30px;
}

.fa-search {
  position: absolute;
  right: 0;
  margin-right: 20px;
  height: 69px;
  line-height: 69px;
  font-size: 1.8rem;
}



/****************************************************************************/
/*CARDS**********************************************************************/
/*container carte*/
.wrapperCards {
  width: 100%;
 height: auto;
}

.containerCards {
  display: flex;
 flex-wrap: wrap;
    width: 88%;
  justify-content: space-between;
    margin: 0 auto;
}

.card {
  width: 380px;
  height: 364px;
  margin: 30px 0;
  border-radius: 7px;
}

.photosPlats {
  width: 100%;
  height: 45%;
  min-height: 45%;
  border-radius: 7px 7px 0 0;
  background-color: #c7bebe;
}
.photoPlat {
  display: flex;
  width: 45%;
  height: auto;
  padding: 25px;
  object-fit: cover; 
}
.titleTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background-color: rgb(245, 236, 236);
}

.title {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 70%;
  height: 40px;
  margin-left: 10px;
}

.time {
  display: flex;
  align-items: center; 
  font-size: 0.9rem;
  width: 24%;
  height: 100%;
}

.fa-clock {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}

.mn {
  display: flex;
  align-items: center;
  width: 70%;
  height: 10px;
}

.recette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 43.5%;
  border-radius: 0 0 7px7px;
  font-size: 0.73rem;
  background-color: rgb(245, 236, 236);
}

.ingredients {
  width: 40%;
}

#list-ingredients {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 90%;
  height: 80%;
  padding: 0 0 0 10px;
  margin-top: 15px;
  overflow: hidden;
}

.ingredients-details {
  font-weight: 900;
}
.préparation {
  position: relative;
  width: 60%;
  height: 95%;
  padding-right: 20px;
}

 .preparation-text {
   display: flex;
   width: 100%;
   font-size: 0.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-align: justify;
}

/************************************************************************/
/**********COMBO ET TAGS*/
.tagsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
margin-top: 15px;
}

.tagsContainer {
  width: 88%; 
  margin: 0 auto;
}

.tags { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 justify-content: flex-start;
  width: 100%;
  height: auto; 
}

.tags li {
  padding:0 30px 0 10px; 
  margin-left: -40px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.list-tags { 
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
   min-width: 30px; 
  height: 37px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 3px;
  background-color: #3182f7;
}

.closedtag {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 37px;
  line-height: 37px;
  margin-right: 6px;
  /* margin-top: 15px; */
}
.wrapperCombo {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.containerCombo {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 60%;
  margin-left: 6%;
  /* width: 49%; */
  height: auto;
}

form {
  width: 170px;
  height: 69px;
  margin: 10px 0 0 0 ;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  /*top: 50%
  /* left: 50%; */
  /* padding: 40px 0; */
 
}
#input1[type="text"],
#input2[type="text"],
#input3[type="text"] {
  width: 170px;
  height: 69px;   
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: 16px;
}
 #input1 {
  background-color: #3182f7;
} 
#input2 {
   background-color: #68d9a5;
 }
 #input3 {
   background-color: #ed6454;
 }

 .box {
  position: relative;
  width: auto;
} 

.arrow-down {
  position: absolute;
  top: 0;
  right: 0;
  height: 69px;
  line-height: 69px;
  width: 16px;
}

#input1::placeholder,
#input2::placeholder,
#input3::placeholder {
  color: #ffffff;
  font-size: 18px;
}
/* ul {
  list-style: none;
  width: auto;
  max-width: 95%;
  height: auto;
  border: 5px solid blue;
} */
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  margin: 0;
  background-color: #2f83f5;
  color: #ffffff;
  border-radius: 0 0 5px 5px;
  
}
.list-items {
  padding: 10px 5px;
  margin-left: 10px;
}
.list-items:hover {
  background-color: #dddddd;
}
